<header class="header-area transparent-bar sticky-bar header-padding header-padding header-hm6">
    <div class="container-fluid">
        <div class="header-wrap header-flex">
            <div class="logo mt-45">
                <a href="/">
                    <img class="logo-normally-none" alt="" src="/public/frontend/img/logo/logo.png">
                    <img class="logo-sticky-none" alt="" src="/public/frontend/img/logo/logo-3.png">
                </a>
            </div>
            <div class="main-menu">
                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        {#<li><a href="por-grid-3-col.html">Portfolio</a>
                            <ul class="submenu">
                                <li class="mega-menu-title"><a href="#">Projets en cours</a></li>
                                <li><a href="#">Projet 1</a></li>
                                <li><a href="#">Projet 2</a></li>
                                <li class="mega-menu-title"><a href="#">Projets terminés</a></li>
                                <li><a href="#">Projet 1</a></li>
                                <li><a href="#">Projet 2</a></li>
                                <li class="mega-menu-title"><a href="#">Projets à venir</a></li>
                                <li><a href="#">Projet 1</a></li>
                                <li><a href="#">Projet 2</a></li>
                                <li><a href="por-grid-3-col.html">A propos...</a></li>
                            </ul>
                        </li>#}
                        <li><a href="/posts">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-right-wrap mt-55">
                {# <div class="header-search mr-20">
                    <button class="sidebar-trigger-search">
                        <span class="ti-search"></span>
                    </button>
                </div> #}
                <div class="bar-icon">
                    <button class="header-navbar-active">
                        <span class="ti-menu"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <li><a href="/">Accueil</a></li>
                        {#<li><a href="por-grid-3-col.html">Portfolio</a>
                            <ul class="submenu">
                                <li class="mega-menu-title"><a href="#">Projets en cours</a></li>
                                <li><a href="#">Projet 1</a></li>
                                <li><a href="#">Projet 2</a></li>
                                <li class="mega-menu-title"><a href="#">Projets terminés</a></li>
                                <li><a href="#">Projet 1</a></li>
                                <li><a href="#">Projet 2</a></li>
                                <li class="mega-menu-title"><a href="#">Projets à venir</a></li>
                                <li><a href="#">Projet 1</a></li>
                                <li><a href="#">Projet 2</a></li>
                                <li><a href="por-grid-3-col.html">A propos...</a></li>
                            </ul>
                        </li>#}
                        <li><a href="/posts">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
