<div class="summary-info sidebar-active">
    <div class="wrap-sidebar">
        <div class="sidebar-nav-icon">
            <button class="op-sidebar-close"><span class="ti-close"></span></button>
        </div>
        <div class="summary-info-all">
            <div class="summary-logo">
                <a href="/">
                    <img src="/public/frontend/img/logo/logo-3.png" alt="">
                </a>
            </div>
            <div class="summary-list-wrap">
                <p>Nous répondons à tous vos besoins : qu'il s'agisse d'un site web vitrine pour votre activité, ou d'une application spécifique, contactez-nous pour en discuter.</p>
                <div class="summary-list">
                    <ul>
                        <li><i class="ti-hand-point-right"></i>Site vitrine</li>
                        <li><i class="ti-hand-point-right"></i>Application web</li>
                        <li><i class="ti-hand-point-right"></i></li>
                        <li><i class="ti-hand-point-right"></i>Social Work Management</li>
                        <li><i class="ti-hand-point-right"></i>eCommerce Shop Management</li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-contact">
                <h5>Nous contacter...</h5>
                <p>Nous sommes à votre disposition </p>
                <div class="sidebar-contact-list">
                    <ul>
                        <li><i class="ti-email"></i><a href="mailto:mehdi@farem.tech">mehdi@farem.tech</a></li>
                        <li><i class="ti-mobile"></i><a href="tel:+33 7 72 13 91 74">+33 7 72 13 91 74</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>