<div class="contact-area pt-55 pb-55 contact-hm7 black-bg-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="contact-info-h3">
                    <div class="section-title-5 mb-80">
                        <h2>Contact</h2>
                    </div>
                    <div class="cont-infoh3-wrap">
                        <div class="single-cont-infoh3">
                            <div class="cont-infoh3-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="cont-infoh3-content">
                                <p>75006 Paris</p>
                            </div>
                        </div>
                        <div class="single-cont-infoh3">
                            <div class="cont-infoh3-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="cont-infoh3-content">
                                <p>+33 6 70 72 98 40  / +33 7 72 13 91 74</p>
                            </div>
                        </div>
                        <div class="single-cont-infoh3">
                            <div class="cont-infoh3-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="cont-infoh3-content">
                                <p><a href="../../../index.php">mehdi@farem.tech</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="contact-form-h3 ml-100">
                    <form id="contact-form" action="/public/frontend/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-form-style mb-15">
                                    <input name="name" placeholder="Nom" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-form-style mb-15">
                                    <input name="email" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-form-style">
                                    <textarea name="message" placeholder="Votre message..."></textarea>
                                    <button class="btn-hover submit" type="submit">Me contacter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</div>