{% extends 'frontend/layouts/layout.html.twig' %}

    {% block title %}Farem - Vos idées, notre expertise{% endblock %}

{% block breadcrumb %}
        <!-- Slider Start -->
        <div class="slider-area slider-height-3 slider-padding-1 bg-img slider-gradient parallax-window" data-image-src="/public/frontend/img/slider/slider-6.jpg" data-parallax="scroll"  data-speed="0.3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-text-7 pt-335">
                            <h1>Farem</h1>
                            <p>Notre expertise au service de vos idées.<br><b>Ho Farem.</b></p>
                            <div class="slider-btn-5 mt-30">
                                <a class="animated btn-hover" href="/contact">Nous contacter</a>
                            </div>                 
                        </div>
                    </div>
                </div>
            </div>  
        </div>
{% endblock %}

{% block content %}
    <div class="work-area pt-60 pb-120 black-bg-3">
        <div class="container">
            <div class="section-title-5 mb-85">
                <h2>Mehdi Rafenne, dev freelance</h2>
            </div>
            <div class="row description">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <p>J'ai une confession à vous faire : je suis juriste de formation, et passionné d'informatique depuis toujours.
                    Un point de contact entre ces deux domaines ? Farem.</p>
                    <p>Développeur freelance, je me met à la disposition des professionnels du droit pour répondre à tous leurs besoins digitaux.
                    Qu'il s'agisse d'un site Internet ou de besoins plus précis, mon objectif est de vous aider à attirer et fidéliser votre clientèle,
                    et à travailler de manière toujours plus efficace, et efficiente.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="logo-vertical">
                        <img src="/public/frontend/img/logo/logo-vertical.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
        {# <div class="work-area pt-60 pb-120 black-bg-3">
            <div class="container">
                <div class="section-title-5 mb-85">
                    <h2>Portfolio</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-work zoom-hover mb-30">
                            <a href="single-portfolio-2.html">
                                <img alt="" src="/public/img/portfolio/h7-1.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-work zoom-hover mb-30">
                            <a href="single-portfolio-2.html">
                                <img alt="" src="/public/img/portfolio/h7-2.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-work zoom-hover mb-30">
                            <a href="single-portfolio-2.html">
                                <img alt="" src="/public/img/portfolio/h7-3.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-work zoom-hover mb-30">
                            <a href="single-portfolio-2.html">
                                <img alt="" src="/public/img/portfolio/h7-4.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-work zoom-hover mb-30">
                            <a href="single-portfolio-2.html">
                                <img alt="" src="/public/img/portfolio/h7-5.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-work zoom-hover mb-30">
                            <a href="single-portfolio-2.html">
                                <img alt="" src="/public/img/portfolio/h7-6.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <div class="funfact-area pb-65 black-bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="single-count4 mb-30">
                            <div class="count4-icon">
                                <a href="#">
                                    <i class="la la-arrow-right"></i>
                                </a>
                            </div>
                            <div class="single-count4-content">
                                <h2 class="count">4</h2>
                                <span>projets en cours</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="single-count4 mb-30">
                            <div class="count4-icon">
                                <a href="#">
                                    <i class="la la-arrow-right"></i>
                                </a>
                            </div>
                            <div class="single-count4-content">
                                <h2 class="count">6</h2>
                                <span>Projets achevés</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="single-count4 mb-30">
                            <div class="count4-icon">
                                <a href="#">
                                    <i class="la la-arrow-right"></i>
                                </a>
                            </div>
                            <div class="single-count4-content">
                                <h2 class="count">2</h2>
                                <span>ans d'expérience</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="single-count4 mb-30">
                            <div class="count4-icon">
                                <a href="#">
                                    <i class="la la-arrow-right"></i>
                                </a>
                            </div>
                            <div class="single-count4-content">
                                <h2 class="count">5</h2>
                                <span>clients satisfaits</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
