{% extends 'backend/layout.html.twig' %}

    {% block title %}Tableau de bord - Farem{% endblock %}


{% block content %}
    <div class="col-md-12 col-lg-12">
        <div class="jumbotron">
            <h1 class="mb-4">Bienvenue !</h1>
            <p class="lead">Bienvenue dans l'interface d'administration du blog Farem. </p>
        </div>
    </div>
{% endblock %}