<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
    <h1 class="site-title"><a href="index.html"><em class="fa fa-rocket"></em> Farem</a></h1>

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
    <ul class="nav nav-pills flex-column sidebar-nav">
        <li class="nav-item"><a class="nav-link active" href="/backend"><em class="fa fa-dashboard"></em> Dashboard <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/backend/posts"><em class="fa fa-calendar-o"></em> Posts</a></li>
        <li class="nav-item"><a class="nav-link" href="/backend/comments"><em class="fa fa-calendar-o"></em> Commentaires</a></li>
        <li class="nav-item"><a class="nav-link" href="/backend/users"><em class="fa fa-calendar-o"></em> Utilisateurs</a></li>
    </ul>
    <a href="/logout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a>
    <!--<div class="medialoot">
        <a href="/logout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a>
        <div class="medialoot-credit">Template by <a href="https://www.medialoot.com">Medialoot</a></div>
    </div>-->

</nav>