<html>
<head>
    <meta charset="UTF-8">
    <title>Farem - Accès interdit</title>
</head>

<body>
    <h1>Erreur 403 - Accès interdit</h1>
    <p>Vous n'avez pas l'autorisation d'accéder à cet espace.</p>
    <p><a href="/">Retourner à l'accueil</a></p>
</body>
</html>
